/**
* {{&summary}}
* @method
* @name {{&methodName}}
* @param {object} parameters - method options and parameters
{{#parameters}}
  {{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> parameters.{{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
*/
export const {{&methodName}} = function(parameters = {}) {
  let path = '{{&path}}';
  let queryParameters = {};
  let form = {};
{{#parameters}}
    {{#required}}
    if(parameters['{{&camelCaseName}}'] === undefined){
        return Promise.reject(new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}'));
    }
    {{/required}}
    {{#isQueryParameter}}
      {{#isSingleton}}
        queryParameters['{{&name}}'] = '{{&singleton}}';
      {{/isSingleton}}
      {{^isSingleton}}
        {{#isPatternType}}
          Object.keys(parameters).forEach(function(parameterName) {
          if(new RegExp('{{&pattern}}').test(parameterName)){
          queryParameters[parameterName] = parameters[parameterName];
          }
          });
        {{/isPatternType}}
        {{#default}}
          /** set default value **/
          queryParameters['{{&name}}'] = {{&default}};
        {{/default}}
        {{^isPatternType}}
          if(parameters['{{&camelCaseName}}'] !== undefined){
          queryParameters['{{&name}}'] = parameters['{{&camelCaseName}}'];
          }
        {{/isPatternType}}
      {{/isSingleton}}
    {{/isQueryParameter}}
    {{#isPathParameter}}
      path = path.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', parameters['{{&camelCaseName}}']);
    {{/isPathParameter}}
    {{#isJsonParameter}}
      {{#isSingleton}}
        form['{{&name}}'] = '{{&singleton}}';
      {{/isSingleton}}
      {{^isSingleton}}
        if(parameters['{{&camelCaseName}}'] !== undefined){
        form['{{&name}}'] = parameters['{{&camelCaseName}}'];
        }
      {{/isSingleton}}
    {{/isJsonParameter}}

  {{/parameters}}
  queryParameters = mergeQueryParams(parameters, queryParameters);
  return request(
    '{{method}}',
    getDomain(parameters) + path,
    queryParameters,
    form,
    getConfig(parameters)
  );
};
